extends layout

block content
 .whole 
    .banner
      ul.cb-slideshow
        li
          span 
        li
          span 
        li
          span 
        li
          span 
        li
          span 
        li
          span 

     .main_a
        .main
           .main_aa
              .img
                 img.film(src='/images/01.png')
              .text.a
                 p A movie is 
                 or or should be - more like music than like fiction. 
                 br
                 It It should be a progression of moods and feelings. The theme, what's behind the emotion, the meaning, all that comes later.

           .main_ab
                .main_ab_ul
                    .main_ab_li  
                       a(href='' ng-click="checkMovie()" title='Movies')
                          img.menuitem(src='/images/11.png')
                    .text
                       p  View Recorded Movies
                .main_ab_ul
                    .main_ab_li 
                       a(href='' title='Favourites')
                          img.menuitem(src='/images/10.png')
                    .text
                       p  View Favourite Movies
                .main_ab_ul
                    .main_ab_li  
                       a(href='' title='Charts')
                         img.menuitem(src='/images/13.png')
                    .text
                         p  View Statistical Charts                             