extends layout

block content


 div.fullHeight(ng-controller="MovieInCinemaController")
    section.movie-list-box(ng-class="{'movie-list-box-margin': !canshow }")
       ol.breadcrumb
         li View seen movies
         li 
           a(href='/#/movies_in_cinemas' ) in cinemas
         li 
           a(href='/#/movies_on_laptop' ) on laptop

       a.btn.btn-success(href='' style="margin-bottom: 15px; border: none;" ng-click="openMovie()") Record a movie 
  
       table.movie-table(width="100%" ng-table="vm.tableParams" show-filter="true")
           thead
                tr#firstrow 
                  th(width="20%")  Name
                  th(width="20%")  Date
                  th(width="10%")  City
                  th(width="20%")  Cinema
                  th(width="5%")   Hall
                  th(width="10%")  Effect
                  th(width="10%")  Type
                  th(width="5%")   Rate
            tbody
                tr(ng-repeat = "movie in movies | orderBy: '-date'")
                  td(data-th="Name" ) {{ movie.name }}
                  td(data-th="Date" ) {{ movie.date | date:'short'}}
                  td(data-th="City" ) {{ movie.city }}
                  td(data-th="Cinema" ) {{ movie.cinema }}
                  td(data-th="Hall" ) {{ movie.hall }}
                  td(data-th="Effect" ) {{ movie.effect }}
                  td(data-th="Type") {{ movie.type }}
                  td(data-th="Rate")  {{ movie.rate }}
    .form-right(ng-controller="MovieController" ng-show="canshow")
        form#movie_info
            h2.header-three Movie Info
            fieldset
                a.close-img(href="" ng-click="closeMovie()")
                  img(src='/images/close.png')
            fieldset
                .input-container
                    input(id="name" name="name" type="text" ng-model="movie.name" required placeholder="Movie name")                     
            fieldset
                .input-container
                    input(id="seen-city" name="seen-city" type="text" ng-model="movie.city" required  placeholder="City")
            fieldset
                .input-container
                    input(id="seen-cinema" name="seen-cinema" type="text" ng-model="movie.cinema" required  placeholder="Cinema")
            fieldset
                .input-container
                    input(id="seen-hall" name="seen-hall" type="text" ng-model="movie.hall" required placeholder="Hall") 
            fieldset
                .input-container
                    input(id="effect" name="effect" type="text" ng-model='movie.effect' placeholder="Effect")                           
            div.form-group
                div.dropdown
                    a.dropdown-toggle(id='dropdown1' role='button' data-toggle='dropdown' data-target='#')
                        div.input-group.seen-date-padding
                            input.form-control(type="text" data-ng-model="movie.date" placeholder="Click to choose date" id="seen-date" required)
                            span.input-group-addon
                                i.glyphicon.glyphicon-calendar
                    ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                        datetimepicker(data-ng-model="movie.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown1'}")                          
            fieldset
                h2.rate-movie Rate this movie
            fieldset
                .rating
                    input(type="radio" id="star5" name="rating" value="5" ng-model="movie.rate") 
                    label(for="star5" title="Rocks!") Five stars
                    input(type="radio" id="star4" name="rating" value="4" ng-model="movie.rate")
                    label(for="star4" title="Pretty good.") Four stars
                    input(type="radio" id="star3" name="rating" value="3" ng-model="movie.rate") 
                    label(for="star3" title="Meh.") Three stars
                    input(type="radio" id="star2" name="rating" value="2" ng-model="movie.rate")
                    label(for="star2" title="Kinda bad") Two stars
                    input(type="radio" id="star1" name="rating" value="1" ng-model="movie.rate")
                    label(for="star1" title="Sucks big time") One star
            fieldset
                div.captcha(id="word-list")
                    h2.select-movie-type Select a type for this movie
                    ul
                        li(ng-repeat="movietype in movietypes")
                            a(ng-click="typeClicked($index)" ng-class="{selected: $index == selectedIndex}" value="{{ movietype }}") {{ movietype }}
            fieldset
                h2.mark-favourite Mark this movie as your favourite
            div.roundedCheckbox
                input(type="checkbox" value="None" id="isFavourite" name="check" ng-model="movie.isfavourite")
                label(for="isFavourite") 
            div.button-wrapper
                button.button-special.btn.btn-success(type="submit" ng-click="saveMovie(movie, true)") Record movie 


